body{
  justify-content: center;
  align-items: center;
  position: relative;
  
}
.maindiv{
  margin-top: 25vh ;
  width: 400px;
  margin-left: 35vw;
}
input{
  width: 25vw;
  height: 30px;
  border-radius: 5px ;
}
input:hover{
  border: 1px solid blue;
}
p{
  font-size: 10px;
}
button{
  padding: 10px;
  background-color: rgb(107, 107, 226);
  border-radius: 5px;
  margin-left: 10vw;
  color: #fff;
}
button:hover{
  background-color: rgb(128, 128, 214);
}